In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import xgboost as xgb
from xgboost import XGBRegressor

In [19]:
df = pd.read_csv('data.csv')
df

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]

In [20]:
df.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [21]:
df.tail()

     SAT   GPA
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

In [22]:
df.dropna(inplace= True)

In [23]:
df.drop_duplicates(inplace= True)

In [24]:
df.shape

(83, 2)

In [25]:
df.isnull().sum()

SAT    0
GPA    0
dtype: int64

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83 entries, 0 to 83
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SAT     83 non-null     int64
 1   GPA     83 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1.9 KB

In [27]:
df.describe()

               SAT        GPA
count    83.000000  83.000000
mean   1846.253012   3.334217
std     104.777795   0.270794
min    1634.000000   2.400000
25%    1774.000000   3.195000
50%    1849.000000   3.380000
75%    1934.000000   3.505000
max    2050.000000   3.810000

In [29]:
X = df.iloc[:, :1]
Y = df.iloc[:,-1]

In [30]:
xtrain,xtest,ytrain,ytest = train_test_split(X,Y, test_size=0.2, random_state=2)

In [33]:
xgb = XGBRegressor()
xgb.fit(xtrain,ytrain)
y_pred = xgb.predict(xtest)
y_pred

array([3.6197422, 3.0829594, 3.0125597, 3.0227048, 3.6197422, 3.7583213,
       3.61038  , 3.6001167, 3.1902933, 3.3724866, 3.3815854, 3.707699 ,
       3.3699417, 3.2783453, 3.61038  , 3.2927217, 3.2809734],
      dtype=float32)

In [34]:
inp = xgb.predict(np.array([1987]))
inp

array([3.7282643], dtype=float32)